body {
    /*background-image: url("code-bc.jpg");*/
    text-align: center;
}
/*
h1, p, #result {
    color: white;
}
*/
#myForm input {
    margin-bottom: 10px;
}

@media screen and (min-width: 414px) {
    form input {
        margin-bottom: 0;
    }
}
